.expense_formcontrols{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.expense_formcontrol{
    flex: 50%;
}

.expense_formcontrol label{
    display: block;
    margin-bottom: 4px;
    font-weight: bolder;
}

.expense_formcontrol input {
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 300px;
    outline: none;
    margin-bottom: 20px;
}

.expense_formbutton{
    text-align: right;
}

.expense_formbutton button{
    padding: 10px 15px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #3d0237;
    letter-spacing: 1px;
    cursor: pointer;
}
